<p>from module 1 ngswitch statement</p>

<div [ngSwitch] = "vegetable">
    <div *ngSwitchCase ="'potato'">potato is a vegetable</div>
    <div *ngSwitchCase ="'tomato'">tomato is a vegetable</div>
    <div *ngSwitchCase ="'cabbage'">cabbage is a vegetable</div>
    <div *ngSwitchCase ="'brinjal'">brinjal is a vegetable</div>
    <div *ngSwitchCase ="'carrot'">carrot is a vegetable</div>
    <div *ngSwitchCase ="'ladies finger'">ladies finger is a vegetable</div>
</div>

<hr>
<app-module2>ngStyle</app-module2>
